* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(255, 255, 0, 0.549);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  &__title {
    font-size: 1.5rem;
    padding: 0 20px;
    margin: 0;
    a {
      text-decoration: none;
      color: #3e8396;
    }
  }
  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

    &-item {
      a {
        text-decoration: none;
        color:#3e8396;
        padding: 0.5rem 1rem;
        display: block;
      }
    }
  }
}
