@import "./components/Navbar/";
@import "./components/CartWidget/";
@import "./components/ProductsContainer/";
@import "./components/ProductDetail/";
@import "./components/Footer/";
@import "./components/CartContainer/";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
